
.about-body {
  -webkit-mask-image: linear-gradient(to left, #0000 25%, #000 75%);
  -webkit-mask-size: 500%;
  animation: text-wipe 1s linear;
}

@keyframes text-wipe {
  0% {
    -webkit-mask-position: 100%;
  }

  100% {
    -webkit-mask-position: 0%;
  }
}

.fade-in-ani{
  opacity: 1;
  animation:fade-in 1s ease-in-out;
}


@keyframes fade-in{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
