@import "tailwindcss";
@import "./gradient/gradient.css";
@import "./animation/about-text.css";
@import "./animation/homeAnimation.css";

@theme {
  /* Breakpoints */
  --breakpoint-*: initial;
  --breakpoint-mobile: 29.6875em; /* 475px */
  --breakpoint-small-tablet: 35.9375em; /* 575px */
  --breakpoint-tablet: 42.1875em; /* 675px */
  --breakpoint-lg-tablet: 47em; /* 752px */
  --breakpoint-laptop: 64em; /* 1024px */
  --breakpoint-desktop: 70.25em; /* 1124px */
  --breakpoint-lgDesktop: 137.5em; /* 2200px */

  /* Spacing */
  --spacing-layout-mob: 24px;
  --spacing-layout-tab: 40px;
  --spacing-layout-lap: 96px 40px 96px 161px;
  --spacing-layout-desk: 96px 90px 96px 211px;

  /* Colours */
  --color-*: initial;
  
  /* Old Theme values */
  /* --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255; */

  /* New Theme Values */
  --color-bg1: rgb(	216, 64, 91);
  --color-bg2: rgb(29, 111, 163);    
  --color1:226, 149, 120;    
  --color2: 232, 200, 114;
  --color3: 172, 77, 116;
  --color4: 198, 52, 136;
  --color5: 49, 149, 211;
  --color-interactive: 172, 77, 116; 

  /* New Theme
  --color-interactive: 252, 92, 156; 
  --color-bg2: rgb(27, 79, 114);    
  --color-bg1: rgb(255, 78, 80);

    --color1: 255, 217, 76;    
    --color2: 255, 126, 95;    
    --color3: 255, 78, 80;     
    --color4: 252, 92, 156;  
    --color5: 86, 204, 242;   
    --color11: 45, 156, 219;   
    --color12: 27, 79, 114;    
  */


  --circle-size: 80%;
  --blending: hard-light;
  --color-white: #EBF1F4;
  --color-black: #000;
  --color-orange: #EF9A4E;
  /* #e8d30c */
  /* #89adf9 */
  /* --color-orange: #EF9A4E; */
  --color-orange-shade: #EAB27F;
  --color-error-red: #ff2c2c;

  /* Grid-Columns */  
  --grid-template-columns-skills: repeat(auto-fit, minmax(200px, 1fr));
  --grid-template-columns-projects: repeat(auto-fit, minmax(270px,1fr));
  --grid-template-columns-LGDesktop: min-content 1fr;
  
  /* Grid-Rows */
  --grid-template-rows-LGDesktop: min-content;
  --grid-template-rows-card: min-content;
  --grid-template-rows-cardContent: repeat(3, min-content);

  /* Fonts */
  --font-sans: 'Poppins', 'sans-serif';
}

.header-circle {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  clip-path: inset(-30% 0% 0% 0% round 0% 0% 50% 50%);
}

.default-bg-gradient{
  background: linear-gradient(to top right, var(--color-bg1), var(--color-bg2));
}

/** REMOVE INPUT HISTORY **/
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* Header Animation */


.circle-dashed{
  animation:  spin 23s linear infinite;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}