@import "tailwindcss";
@import "./gradient/gradient.css";

@theme {
  --color-*: initial;
  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
  --color-white: #ffffff;
  --color-black: #000;
  --color-orange: #EF9A4E;

  /* Grid-Columns */
  --grid-template-columns-mob: 24px repeat(10, 1fr) 24px;
}

.header-circle {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  clip-path: inset(-30% 0% 0% 0% round 0% 0% 50% 50%);
}
